/**

 * @copyright   Proyecto graduación <http://fundacioncapital.org/>
 * @version     1.0
 *//* 
    Created on : 10-jun-2015, 9:29:43
    Author     : Pepe
*/

.campaign-view .btn {
    margin: 0 2px;
}

.module-list-panels {
    margin-top: 40px;
}

.campaign-view .tab-pane {
    margin-top: 20px;
}